spring.application.name=spendwise
spring.datasource.url=jdbc:postgresql://<your-host>/<your-db>?sslmode=require&channel_binding=require
spring.datasource.username=<your-username>
spring.datasource.password=<your-password>

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
